# Flutter and Dart specific files
.dart_tool/
.pub/
.pub-cache/
build/
.packages
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# environment configuration files
.env*

# JetBrains IDE
*.iml
*.ipr
*.iws
.idea/

# generated Javascript files
*.dart.js
*.info.json      
*.js_
*.js.deps
*.js.map

# Android Studio build aritfacts folders
/android/app/debug
/android/app/profile
/android/app/release

# obfuscation and symbolication files
app.*.map.json
app.*.symbols

# macOS Finder
.DS_Store

# other files and folders
*.class
*.log
*.pyc
*.swp
.buildlog/
.history
.svn/
migrate_working_dir/